# Python Cache
__pycache__/
*.py[cod]
*$py.class
check_final.py
check_raw_att.py
find_ready_employees.py

# Environments
.env
venv/
ENV/
env/

# IDEs
.vscode/
.idea/
GEMINI.md
discovery.py
inspect_employee.py
SIA-Project-Human-Resources--main
scripts/total_cleanup.py